<div *ngFor="let key of obk(h_scheme.actions)">
    <label [class.disabled]="!h_scheme.actions[key].enabled" class="key-header-actions">{{key}}</label>
    <mat-checkbox class="marginright1em" [checked]="!h_scheme.actions[key].enabled" (change)="h_scheme.actions[key].enabled = !$event.checked">Force disable</mat-checkbox>
    
    <div class="indent" *ngIf="h_scheme.actions[key].enabled">
        <div *ngIf="h_scheme.actions[key].acts.length === 0" class="info-message">
            <mat-icon>info</mat-icon>
            <label>Default behavior will be used</label>
        </div>
        <app-predef-actions-container
            [label]="'Custom action behavior'"
            [acts]="h_scheme.actions[key].acts"
            [controllers]="controllers"
            [groups]="groups"
            [ids]="h_scheme.actions[key].possible_ids"
            [entity]="entity"
        ></app-predef-actions-container>
    </div>
</div>
