.spacepls {
    margin-bottom: 1em;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;

    .addItem {
        margin-left: 1em;
    }
}

.info {
    font-style: italic;
    opacity: 0.7;
    margin-top: 1em;
}